.header{
    background-color: #1f2937;
    padding: 0px;
    margin: 0px;
    height: 350px;
    
}

body{
    margin: 0px;
}

.navbar{
    
    display: flex;
    justify-content:space-around;

}


ul{
    display: flex;
    list-style: none;
    
    gap: 25px;
    
}

img{
    border-radius: 50%;
}

.title-placeholder{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    border: 1px solid #3882f6;
    background-color: #3882f6;
    border-radius: 5px;
    width: 100px;
    color: white;
}

.placeholder-text{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    
}


a{
    text-decoration: none;
    color: white;
}

.image-placeholder{
    border: 50px solid rgb(36, 36, 50);
    background-color: rgb(36,36,50);
    color: whitesmoke;
}