.header {
    background-color: #1f2937;
    padding: 0px;
    margin: 0px;
    height: 350px;

}

body {
    margin: 0px;
    padding: 0px;
    background-color: #1f2937;

}


.navbar {

    display: flex;
    justify-content: space-around;

}




ul a,
ul a:visited {
    text-decoration: none;

    color: white;

}
button a,button a:visited{
    text-decoration: none;
    color: white;
}
ul {
    display: flex;
    list-style: none;
    gap: 25px;

}

.logo {
    border-radius: 50%;
}

.title-placeholder {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#description {
    color: aliceblue;
}

button {
    border: 1px solid #81b64c;
    background-color:#81b64c;
    border-radius: 20px;
    width: 250px;
    color: white;
    font-family: 'Montserrat',sans-serif;
    font-size: large;
    font-weight: 800;
    height: 80px;

}

button:hover{
    background-color: #a3d160;
    cursor: pointer;
}

.placeholder-text {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;

}



.image-placeholder {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    size: 20px;
}

h3 {
    text-align: center;
    font-size: 25px;
    columns: #1f2937;
    font-family: 'Montserrat',sans-serif;
}

.chess {
    display: flex;
    justify-content: space-around;
}

.chess-text {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-around;

}

.queen {
    position: relative;
    left: -25px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    font-size: large;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.chess-pieces {
    background-color: white;
    height: auto;
    padding-bottom: 50px;
}

.sign-up{
    background-color: #262522;
    padding: 80px;
    display: flex;
    justify-content: space-around;
}

.sign-up p{
    margin: 0px;
}


.chesscom{
    width: 400px;
    border-radius: 10px;
    background-color: #81b64c;
    color: white;
    padding: 30px;
    font-family: 'Montserrat',sans-serif;
}
.inbetween{
    background-color: white;
    padding: 30px;
}

